In [1]:
from faker import Faker
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("chap4").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/14 23:56:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Batch Processing

Generate some fake data:

In [3]:
fake = Faker()
Faker.seed(0)

In [4]:
def generate_data(nrow):
    data = [
        (fake.unique.name(), fake.state(),
         fake.date_of_birth(minimum_age=18, maximum_age=65),
         fake.job(), fake.random_number(3))
        for i in range(int(nrow * 0.8))
    ]
    data.extend([
        (fake.unique.name(), fake.state(),
         fake.date_of_birth(minimum_age=66, maximum_age=100),
         fake.job(), fake.random_number(3))
        for i in range(nrow - len(data))
    ])

    return data

In [5]:
df1 = spark.createDataFrame(
    generate_data(1000),
    ["name", "state", "birthdate", "occupation", "score"]
)
df1.show()

+----------------+-------------+----------+--------------------+-----+
|            name|        state| birthdate|          occupation|score|
+----------------+-------------+----------+--------------------+-----+
|    Norma Fisher|     Kentucky|1992-10-29|Radiographer, dia...|  414|
| Sandra Faulkner|    Minnesota|1997-09-26|Engineering geolo...|  516|
|   Charles Davis|     Kentucky|1994-04-11|        Town planner|  923|
|     Brett Jones|         Utah|1980-07-04|Public house manager|  573|
|    Jeffrey Carr|      Indiana|1995-08-21|Publishing rights...|  453|
| Debbie Trujillo|     Oklahoma|1958-12-29|Chief Financial O...|  736|
| Michelle Glover| South Dakota|1958-02-11|  Veterinary surgeon|  505|
|   Felicia Cross|     Virginia|1962-04-28|Engineer, aeronau...|  939|
|   Cynthia Ponce|         Ohio|1988-07-09| Chemist, analytical|   82|
|Sheri Bolton DDS|     Maryland|1995-07-20|Horticulturist, a...|  723|
|    Gary Nielsen|      Indiana|1999-01-31|Sports developmen...|  601|
|   Brandon Yates|Massachusetts|1997-03-17|Financial controller|  297|
| Roberto Johnson|        Texas|1975-09-25|     Publishing copy|   70|
|  Peter Mcdowell|      Arizona|1963-07-01|Sound technician,...|  699|
|    Michael Hill|       Kansas|1972-09-05|  Theme park manager|  845|
|    Lauren Hayes|        Texas|2001-09-02| Marketing executive|   84|
|  Brian Matthews|     Michigan|1970-12-28|   Financial manager|   16|
| Autumn Robinson|       Hawaii|1980-08-31|Physiological sci...|  835|
|   Richard Wyatt|         Iowa|1961-02-11|Teacher, secondar...|  649|
| Kimberly Becker|       Alaska|1966-07-04|     Energy engineer|  620|
+----------------+-------------+----------+--------------------+-----+
only showing top 20 rows